<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title><?="Hi"?></title>
    <!-- <script src="../script.js" defer></script> -->
</head>
<body>


<!-- 
<div class="main bloc-1-home">
    <h1 class="title-font-fancy">Profitez d’une vue complète sur votre stock</h1>
    <div class="logo">
    <img src="../assets/circle_logo.png" alt="" class="logo-round">
    <a href="#" class="btn-blue">Tester</a>
    </div>
    
 </div>

-->

<!--
<?php include("bloc-1-home.php"); ?>
<?php include("bloc-2-home.php"); ?>
-->

<header>
    <nav class="visitor">
        <a href="header.php"><img src="../assets/bar_logo.png" class="logo-bar" alt=""></a>
        
        <div>
        <a href="home.php">Home</a>
        <a href="product.php">Product</a>
        <a href="home.php">Pricing</a>
        <a href="login.php" class="btn-white">Login</a>
        <a href="signup.php" class="btn-blue">Sign up</a>
        </div>

    </nav>

    <nav class="connected">
    </nav>

</header>

<div class="main"></div>

<footer>

    <div class="brand">
        <img src="../assets/bar_logo_no_img.png" alt="">
        <div class="social">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <span>Copyright ️© Ciment.io 2025. All rights reserved.</span>
<!-- si connecte-->
    <div class="plan">
        <a href="index.php?page=0">Home</a>
        <a href="index.php?page=1">Product</a>
        <a href="index.php?page=2">Pricing</a>
        <a href="index.php?page=3" >Login</a>
        <a href="index.php?page=4" >Sign up</a>
    </div>
<!-- sinon -->


</footer>




</body>
</html>



